<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.networkexperimentation.mapper.GradeplanMapper">

    <resultMap id="BaseResultMap" type="com.edu.networkexperimentation.model.domain.Gradeplan">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="studentID" column="studentID" jdbcType="BIGINT"/>
            <result property="gradeID" column="gradeID" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,studentID,gradeID,
        createTime,updateTime,isDelete
    </sql>
</mapper>
